/*Blog elements are all on the page except images and links*/
/*margins and paddings in elemenets to move the rows away from each othr*/
*{
  box-sizing: border-box;
  /*border:2px dotted red;
  margin:0;*/
  /*min-width: 1px*/
}
body{
    font-family:'Alegreya',sans-serif;;
}
h1,h2,h3, .btn {
  font-family: 'Alegreya',sans-serif;
  margin-bottom: 10px;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: white;
  Font-Color: #1bbc9b;
  padding: 10px 30px;
  border-radius; 3px;
  display: inline-block;
}
.btn:hover {
  text-decoration: underline;
}
section{
  padding: 40px 0;
}

ul {
  padding: 0px;
}

/*p{
  font-family:sans-serif;
  color:#ccc;
  font-size:14px;
}*/

nav {
  background: black;
  padding-left:30px;
  padding-right:30px;
}
nav ul {
  padding: 0px;
  float: right;
  margin-top: 30px;
}

nav ul li {
  display: inline;
  font-size:20px;
  margin-left:10px
}
nav li a {
  color: white;
  text-decoration: none;
}
nav img {
  border: 1px solid red;
}
ul li {
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    /*text decoration none removes the underline or the effects of it*/
}

ul li a:hover {
  /*when mouse is hovering on the list links */
  color: yellowgreen;
  text-decoration: line-through;
}

/*h1 {
/*font-family:'Alegreta';*/
/*font-weight: bold;
letter-spacing: 2px;
}
h2{
  line-height:1.2;
}*/

/*Header Styling*/
header {
    background: black url(../images/header-bg.jpg) center no-repeat;
    color: white;
    text-align: center;
    padding-top: 150px;
    height:600px;
    /*background-position:center center;
    background-size:cover;*/
}

header h2 {
  margin-bottom: 100px;
}
/*Content Styling*/
.features {
  Text-align: center;
}

.features article {
  width:33%;
  display:inline-block;
}
.features article .btn {
  color: #1bbc9b;
  background: white;
  border: 1px solid #1bbc9b;
}
.mockup {
  text-align: center;
  background-attachment:fixed;
}

.clients {
    text-align: center;
    background-color: #1bbc9b;
    color: #fff;
}
.clients ul{
  text-align: center;
  margin-bottom:20px;
}
.clients ul li {
  list-style-type: none;
  width: 25%;
  display: inline;
  float: center;
}
.clients ul li img {
  max-width: 150px;
}
.clients a {
  border: white;
  color: white;
  text-decoration:underline;;
}

.clients a:hover {
  background: white;
  color: #1bbc9b;
}
footer {
  background-color: black;
  color:white;
  text-align: center;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
}
footer ul li img {
  max-width: 30px;
}
footer ul li img:hover {
  background:darkblue;
}

footer ul li #fb:hover {
  background:darkblue;
}
footer ul li #fb:hover {
  background:darkblue;
}
/*media queries*/
@media (max-width:768px) query {
  nav ul {
    float:none;
  }
  .features article {
      width: 100%;
      display: block;
  }
  .mockup img {
        max-width: 100%;
  }
}
